/* My Work */

section.my-work .section-heading {
    text-align: center;
    padding: 80px 45px 50px 45px;
}

.project-item {
    position: relative;
    width: 48%;
    aspect-ratio: 4/3;
    margin: 1%;
    border-bottom: 2px solid rgba(250, 250, 250, 0.1);
    padding-bottom: 15px;
    margin-bottom: 30px;
    @media screen and (max-width: 600px) {
        width: 96%;
    }
}

.card-item {
    background-color: rgba(250, 250, 250, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    overflow: hidden;
    -webkit-perspective: 50em;
    perspective: 50em;
}

.card-item h4 {
    color: #fff;
}

.card-item span {
    font-size: 14px;
    font-style: italic;
    display: block;
    color: #6c757d;
}

.card-item * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.card-item:after {
    background-color: #ffffff;
    position: absolute;
    content: "";
    display: block;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0;
}

.overlay {
    top: 50%;
    left: 20px;
    right: 20px;
    bottom: 25px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.card-item:hover .overlay,
.card-item.hover .overlay {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.card-item:hover:after,
.card-item.hover:after {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.9;
}


.card-item i {
    position: relative !important;
    font-size: 18px;
    background-color: #343a40;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: #fff;
}
