.loader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group input[type="radio"] {
    display: none;
}

.btn{
    border-radius: 0.25rem !important;
}