
.main-nav {
    text-align: center;
}

.main-nav li:last-child a {
    border-bottom: 2px solid #fff;
}

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid #fff;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #fff;
    color: #343a40;
}

/* Sidebar Menu */

.menu .image {
    margin-top: 60px;
}

.menu .image img {
    border-radius: 50%;
    border: 5px solid transparent;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #004AAD, #CB6CE6) border-box;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    text-align: center;
}

.menu .author-content {
    margin: 40px 0px 60px 0px;
}

.menu .author-content h4 {
    margin-bottom: 0px;
}

.menu .author-content span {
    font-size: 13px;
    font-style: italic;
    color: #fff;
}

.menu .social-network {
    margin: 30px 0;
}

.menu .social-network ul li {
    margin: 0 3px;
}

.menu .social-network ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
}

.menu .social-network ul li a:hover {
    background-color: #fff;
    color: #343a40;
}

.menu .copyright-text {
    position: relative;
    margin-top: 60px;
}

.menu .copyright-text p {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 13px;
}

.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    left: 10%;
    -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    -webkit-overflow-scrolling: touch;
    background-color: #000000;
    box-sizing: border-box;
    height: 100vh;
    max-height: 100vh !important;
    max-width: 80vw !important;
    min-width: 45px !important;
    outline: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 0;
    position: fixed !important;
    top: calc(0px);
    width: 20%;
    will-change: transform;
    z-index: 999 !important;
}

.menu-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    position: fixed;
    right: 25px;
    top: 25px;
}

#menu-toggle {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    color: #343a40;
    background-color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.menu-close {
    cursor: pointer;
}

#menu-close {
    cursor: pointer;
    text-align: right;
    color: #343a40;
    background-color: #fff;
    width: 100%;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}
